# Connect-Error-404

 How To Play:
 
 1. Decide player Color Red or Yellow. Players will take turn placing one checker.  

2.On your turn drop your checker into any of the slots of the grid.

3.Alternate until one player gets four checkers in a row.

 The Twist: If a player cancels a winning move (Three of one colored checker in a row) with one of their own checkers it triggers an "Error" that allows the player that cancelled that row to erase one checker on the board (Even checkers that do not belong to that player). 
